.blog-posts {
    .blog-posts-list {
        display: grid;
        row-gap: 50px;
        column-gap: 24px;
        margin-bottom: 50px;
  
        @include respond(tablet) { 
            row-gap: 25px;
            column-gap: 12px;
        }

        &.five-posts {
            grid-template-columns: repeat(3, 1fr);

            @include respond(tablet) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include respond(phone) {
                grid-template-columns: 1fr;
            }

            article:nth-child(1) {
                grid-column: span 2;
                @include displayFlex(row, nowrap, center, flex-start, stretch);

                @include respond(phone) {
                    grid-column: span 1;
                }

                a {
                    @include displayGrid(1fr 1fr, 1fr, center, center, center, center);
                    gap: 20px;

                    img {
                        margin: 0;
                        width:100%;
                        height: 100%;
                    }
                }
            }
            
            article:nth-child(2) {
                grid-column: span 1;
            }
    
            article:nth-child(3),
            article:nth-child(4),
            article:nth-child(5) {
                grid-column: span 1;
            }
    
            article:nth-child(2) {
                margin-right: auto;
            }
        }
    
        &.six-posts {
            grid-template-columns: repeat(3, 1fr);
    
            @include respond(tablet) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include respond(phone) {
                grid-template-columns: 1fr;
            }

            article {
                grid-column: span 1;
            }
        }

        article {
            a {
                img {
                    @include respond(tablet) {
                        height: 170px;
                    }
                }
            }
        }
    }
}
  