.category-page {
    h1 {
        margin-bottom: 50px;
    }
    .category-posts {
        display: grid;
        row-gap: 50px;
        column-gap: 24px;
        margin-bottom: 50px;
        grid-template-columns: repeat(3, 1fr);

        @include respond(tablet) { 
            row-gap: 25px;
            column-gap: 12px;
        }
    }
}