header#header {

    .container {
        @include displayFlex(row, nowrap, center, space-between, center);
        //margin: 60px auto 100px;
        margin: 0 auto;
        padding: 60px 66px;
    }

    .logo {
        width: 162px;
        height: 68px;
    }
}