nav {
    .menu-items {
        & > ul {
            @include displayFlex(row, nowrap, flex-start, space-between, center);
            gap: 25px;

            li {
                &:not(.btn) {
                    a {
                        color: $black-color;
                        transition: all 0.5s ease;
    
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            
                &.btn {
                    margin-left: 5px;
                }
            }
        }
    }
}