*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
}

body {
    font-family: 'Poppins', sans-serif; 
    background-color: #ffffff;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.big-container {
    max-width: $container_big_sz;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    @include respond(tablet) { 
        width: 100%;
        max-width: 100%;
    }
}

.container {
    width: 80vw;
    max-width: $container_sz;
    margin: auto;
    padding: 0 66px;
    background-color: $white-color;
    

    @include respond(tab-port) {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 0 33px;
    }

    @include respond(tablet) { 
    }

    @include respond(phone) { 
        padding: 20px;
    } 
}

main#content {
    padding: 40px 66px 100px;

    @include respond(tablet) { 
        padding: 20px 33px 50px;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn {
    padding: 10px 35px;
    transition: all 0.5s ease;

    &:hover {
        box-shadow: 0 7px 15px rgb(207 207 207 / 80%);
    }
}

.homepage-books-list {
    text-align: center;
    padding-bottom: 20px;

    .pagination {
        display: none;
    }

    .read-more-button {
        margin: 0 auto;
        box-shadow: 0 7px 15px rgb(207 207 207 / 80%);
    }
}